___

# Capítulo 3 - Matemática e Estatística Básicas
## Seção 4 - Investigando valores numéricos
___

In [1]:
import pandas as pd

In [2]:
caminho = 'C:/Users/booth13-mgr2/Desktop/roteiros/dados/mtcars.csv'
carros = pd.read_csv(caminho)
carros.columns = ['nomes','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'qtd_marchas', 'carb']

carros.head()

,nomes,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,qtd_marchas,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### Somatório

In [3]:
carros.sum()

nomes          Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                        642.9
cyl                                                          198
disp                                                      7383.1
hp                                                          4694
drat                                                      115.09
wt                                                       102.952
qsec                                                      571.16
vs                                                            14
am                                                            13
qtd_marchas                                                  118
carb                                                          90
dtype: object

In [4]:
carros.sum(axis=1)

0     328.980
1     329.795
2     259.580
3     426.135
4     590.310
5     385.540
6     656.920
7     270.980
8     299.570
9     350.460
10    349.660
11    510.740
12    511.500
13    509.850
14    728.560
15    726.644
16    725.695
17    213.850
18    195.165
19    206.955
20    273.775
21    519.650
22    506.085
23    646.280
24    631.175
25    208.215
26    272.570
27    273.683
28    670.690
29    379.590
30    694.710
31    288.890
dtype: float64

### Mediana

In [5]:
carros.median()

mpg             19.200
cyl              6.000
disp           196.300
hp             123.000
drat             3.695
wt               3.325
qsec            17.710
vs               0.000
am               0.000
qtd_marchas      4.000
carb             2.000
dtype: float64

### Média

In [6]:
carros.mean()

mpg             20.090625
cyl              6.187500
disp           230.721875
hp             146.687500
drat             3.596563
wt               3.217250
qsec            17.848750
vs               0.437500
am               0.406250
qtd_marchas      3.687500
carb             2.812500
dtype: float64

### Máximo

In [7]:
carros.max()

nomes          Volvo 142E
mpg                  33.9
cyl                     8
disp                  472
hp                    335
drat                 4.93
wt                  5.424
qsec                 22.9
vs                      1
am                      1
qtd_marchas             5
carb                    8
dtype: object

In [8]:
mpg = carros.mpg
mpg.idxmax()

19