___

# Capítulo 3 - Matemática e Estatística Básicas
## Seção 5 - Investigando a disperção de uma variável
___

In [1]:
import pandas as pd

In [2]:
caminho = 'C:/Users/Jessica/Desktop/roteiros/dados/mtcars.csv'
carros = pd.read_csv(caminho)
carros.columns = ['nomes','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'qtd_marchas', 'carb']
carros.head()

,nomes,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,qtd_marchas,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### Desvio padrão

In [3]:
carros.std()

mpg              6.026948
cyl              1.785922
disp           123.938694
hp              68.562868
drat             0.534679
wt               0.978457
qsec             1.786943
vs               0.504016
am               0.498991
qtd_marchas      0.737804
carb             1.615200
dtype: float64

### Variância

In [4]:
carros.var()

mpg               36.324103
cyl                3.189516
disp           15360.799829
hp              4700.866935
drat               0.285881
wt                 0.957379
qsec               3.193166
vs                 0.254032
am                 0.248992
qtd_marchas        0.544355
carb               2.608871
dtype: float64

### Contagem de valores

#### nome_do_objeto.value_counts()

♔┈♔┈♔┈( O QUE ISSO FAZ )┈♔┈♔┈♔

O método `.value_counts()` conta todos os valores em um array ou objeto do tipo Series.

In [5]:
marchas = carros.qtd_marchas
marchas.value_counts()

3    15
4    12
5     5
Name: qtd_marchas, dtype: int64

### Descritivo estatístico

In [6]:
carros.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,qtd_marchas,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000