___
# Capítulo 1 - Manipulação de dados: Básico
## Seção 2 - Selecionando dados
___
### Importando bibliotecas e classes

Podemos usar a notação `as` para abreviar o nome das bibliotecas e médotos que vamos importar e facilitar a escrita de código.

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Criar dados
#### np.arange(valor)

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Método para gerar valores em um intervalo que retorna um array unidimensional

In [2]:
dados = np.arange(8)

In [3]:
dados

array([0, 1, 2, 3, 4, 5, 6, 7])

#### np.reshape()

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Método para remodelar o formato de um array. Se nós temos um array unidimensional com 8 itens podemos regorganizalo em um conjunto de arrays de dois itens cada. Pensem em transforma um array em uma matriz.

In [4]:
np.arange(8).reshape((4, 2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

### Selecionar e buscar dados

In [5]:
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4',
          'linha 5', 'linha 6', 'linha 7', 'linha 8']
serie = Series(np.arange(8), index=indice)
serie

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int32


#### ['índice']

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Quando você escreve um par de colchetes com um índice dentro deles, o Python entende que ele precisa selecionar e buscar todas as entradas com aquele índice.

In [3]:
serie['linha 7']

6

In [6]:
help(np.random.seed)

Help on built-in function seed:

seed(...) method of mtrand.RandomState instance
    seed(seed=None)

    Seed the generator.

    This method is called when `RandomState` is initialized. It can be
    called again to re-seed the generator. For details, see `RandomState`.

    Parameters
    ----------
    seed : int or array_like, optional
        Seed for `RandomState`.
        Must be convertible to 32 bit unsigned integers.

    See Also
    --------
    RandomState

In [4]:
np.random.seed(25)
indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4', 'linha 5', 'linha 6']
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6']
df = DataFrame(np.random.rand(36).reshape((6,6)), 
               index=indice,
               columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819


#### nome_do_objeto.loc[[linhas], [colunas]]

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Quando você usa o indexador especial `.loc[]`, e passa um conjunto de linhas e colunas, o Python entende que ele precisa selecionar e buscar apenas aquelas linhas e colunas.

In [5]:
df.loc[['linha 2', 'linha 5'], ['coluna 5', 'coluna 2']]

         coluna 5  coluna 2
linha 2  0.402366  0.437611
linha 5  0.421004  0.559053

### Fatiando dados

#### ['índice inicial':'índice final'] 

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔


Fatiar dados permite que voce selecione e busque todos os registros começando pelo índice inicial até o índice final e todos os registros entre esses dois.

In [6]:
serie['linha 3':'linha 7']

linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
dtype: int64