___
# Capítulo 1 - Manipulação de dados: Básico
## Seção 5 - Encontrando e preenchendo valores em branco
___

In [1]:
import numpy as np
import pandas as pd 

from pandas import Series, DataFrame

### Encontrando os valores em branco

O NumPy tem embutido nele um objeto chamado `np.nan` que serve para identificar valores em branco

In [2]:
em_branco = np.nan

serie = Series(['linha 1', 'linha 2', em_branco, 'linha 4', 'linha 5', 'linha 6', em_branco, 'linha 8'])
serie

0    linha 1
1    linha 2
2        NaN
3    linha 4
4    linha 5
5    linha 6
6        NaN
7    linha 8
dtype: object

#### nome_do_objeto.isnull()

♔┈♔┈♔┈( O QUE ISSO FAZ )┈♔┈♔┈♔

O método `.isnull()` retornar uma valores booleanos (`True` ou `Falso`) se um item dentro de um objeto Pandas é nulo/vazio.

In [3]:
serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

### Preenchendo valores em branco

In [4]:
np.random.seed(25)
df = DataFrame(np.random.randn(36).reshape(6,6))
df.loc[3:5, 0] = em_branco
df.loc[1:4, 5] = em_branco
df

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734       NaN
2  2.152957 -1.334661  0.076380 -1.246089  1.202272       NaN
3       NaN -0.419678  2.294842 -2.594487  2.822756       NaN
4       NaN -1.976254  0.533340 -0.290870 -0.513520       NaN
5       NaN -1.839905  1.607671  0.388292  0.399732  0.405477

#### nome_do_objeto.fillna(valor)

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

O método `.fillna()` encontra os valores nulos do nosso objeto e preenche esses valores com o novo valor que você passar.

In [5]:
df_preenchido = df.fillna(0)
df_preenchido

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734  0.000000
2  2.152957 -1.334661  0.076380 -1.246089  1.202272  0.000000
3  0.000000 -0.419678  2.294842 -2.594487  2.822756  0.000000
4  0.000000 -1.976254  0.533340 -0.290870 -0.513520  0.000000
5  0.000000 -1.839905  1.607671  0.388292  0.399732  0.405477

#### nome_do_objeto.fillna(dicionário)

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Você também pode passar um dicionário para o método `.fillna()`. Usando um dicionário o método entende que cada chave do dicionário corresponde a uma coluna e o seu par o valor a ser substituido na respectiva coluna.

In [6]:
dicio = {0: 0.1, 5: 1.25}
df_preenchido = df.fillna(dicio)
df_preenchido

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734  1.250000
2  2.152957 -1.334661  0.076380 -1.246089  1.202272  1.250000
3  0.100000 -0.419678  2.294842 -2.594487  2.822756  1.250000
4  0.100000 -1.976254  0.533340 -0.290870 -0.513520  1.250000
5  0.100000 -1.839905  1.607671  0.388292  0.399732  0.405477