___
# Capítulo 1 - Manipulação de dados: Básico
## Seção 6 - Contando e removendo valores em branco
___

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
em_branco = np.nan
np.random.seed(25)
df = DataFrame(np.random.randn(36).reshape(6,6))
df.loc[3:5, 0] = em_branco
df.loc[1:4, 5] = em_branco
df

          0         1         2         3         4         5
0  0.228273  1.026890 -0.839585 -0.591182 -0.956888 -0.222326
1 -0.619915  1.837905 -2.053231  0.868583 -0.920734       NaN
2  2.152957 -1.334661  0.076380 -1.246089  1.202272       NaN
3       NaN -0.419678  2.294842 -2.594487  2.822756       NaN
4       NaN -1.976254  0.533340 -0.290870 -0.513520       NaN
5       NaN -1.839905  1.607671  0.388292  0.399732  0.405477

### Contando valores em branco

#### nome_do_objeto.isnull().sum()

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Para calcular a quantidade de valores nulos que o nosso DataFrame tem por coluna podemos usar o método `.isnull()`, e então usar o método `.sum()` a partir da matriz de valores Booleanos.

In [3]:
df.isnull().sum()

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

### Removendo valore sem branco

#### nome_do_objeto.dropna()

♔┈♔┈♔┈( O QUE ISSO FAZ ) ┈♔┈♔┈♔

Para identificar e remover as linhas que contém qualquer valor nulo, usamos o método `.dropna()`.

NOTA: Se você quiser remover as colunas que apresentam valores nulos, basta passar `axis=1` como argumento para o método para que ele considere colunas ao invés de linhas.

In [4]:
df_limpo = df.dropna(axis=1)
df_limpo

          1         2         3         4
0  1.026890 -0.839585 -0.591182 -0.956888
1  1.837905 -2.053231  0.868583 -0.920734
2 -1.334661  0.076380 -1.246089  1.202272
3 -0.419678  2.294842 -2.594487  2.822756
4 -1.976254  0.533340 -0.290870 -0.513520
5 -1.839905  1.607671  0.388292  0.399732